@{
    ViewBag.Title = "Index";
}

<h2>TrailLocker home page stub!</h2>



@*
This is a cshtml method for passing info to a controller from a form
First argument to Html.BeginFrom() is the method, second is the controller. So this form passes its
data to the NewTrip method in the Trip controller. The data is passed as the arguments to the method.
*@

    @using (Html.BeginForm("NewTrip", "Trip"))
    {
        @*<p>Title @Html.TextBox("destination") <br />*@
        <input type = "text" name = "destination" />
        <input type = "submit" value = "Create new Trip(cshtml)" />
    }

<br />
<br />
@* 
Method of passing data without using any cshtml. Set the form's action to the path you would use to navigate to your controller
just like you would in the browser. ourpage/Trip/NewTrip navigates to the NewTrip method
in the Trip controller and sends the form data as arguments to that method.
*@
<form name = "input" action = "Trip/NewTrip" method = "get">


    <select id = "Destination" name = destination>
        <option value = Upland> Upland, IN :/</option>
        <option value = Taiwan> Taiwan!</option>
    </select>
    <input name = "Destination" type = "submit" value = "Create a new Trip (html)"/>
</form>


